.footer-se {
    background: #181818;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-top: 2px solid #232323;
}

.footer-menu-title {
    font-weight: 700;
    color: #7ec11f;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-menu li {
    margin-bottom: 0.3rem;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 0.98rem;
    transition: color 0.2s;
}

.footer-menu a:hover {
    color: #7ec11f;
}

.footer-social-icon {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 0.5rem;
    transition: color 0.2s;
}

.footer-social-icon {
    font-size: 2rem;
}

.footer-social-icon:hover {
    color: #7ec11f;
}

.footer-text1 {
    font-size: 0.95rem;
    line-height: 1.3;
    font-weight: 300;
    display: flex;
}

.footer-text1 .derechos{
    font-weight: 600 !important;
    margin-bottom: 10px;
}

.footer-text2 {
    display: none !important;
}

body main .footer-se .footer-text.footer-text2 {
    display: none !important;
}

.content-legal2 {
    display: none !important;
}

.cotent_logo_footer img {
    height: 90px;
}
.fooeter-text{
    font-weight: 200 !important;
}
.fooeter-textspan{
    font-weight: 600 !important;
}

.footer-social-icon img{
    width: 30px;
    height: 30px;
}
@media (max-width: 990.98px) {
    .footer-se .row>div {
        text-align: center !important;
        align-items: center !important;
    }

    .cotent_logo_footer img {
        height: 60px;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-text1 {
        display: none !important;
    }

    .footer-text2 {
        display: flex !important;
        text-align: left;
        font-size: 0.8rem;
        font-weight: 200;
    }


    .footer-text2 span {
        font-weight: 600;
    }

    .content-legal2 .footer-menu a {
        font-size: 0.8rem;
    }

    /* body main .footer-se  .footer-text .footer-text1{
        display: none !important;
    }

    body main .footer-text2{
        display: none !important;
    } */

    .content-legal2 {
        flex-direction: column;
        display: flex !important;

        font-size: 0.8rem;
    }

    .content-legal1,
    .content-redes,
    .conten-menu {
        display: none !important;
    }
}