@import url(./variables.css
);

.content-flecha-atras {
    margin-top: 50px !important;

}

.content-flecha-atras svg {
    width: 40px;
    height: 40px;
}

.content-flecha-atras h3 {
    color: var(--color-primario-blanco);
}

.img-lado-mobile {
    display: none;
}

.green-text:nth-child(1) {
    color: var(--color-primario-blanco) !important;
}

.contenedor-texto {
    margin-top: 90px;
}

.section-degradado {
    /* Fondo degradado de gris a negro de izquierda a derecha */
    background: linear-gradient(90deg, #71AE15 30%, #181818 100%);
    min-height: 480px;
    width: 100%;
    position: relative;

}

.img-lado {
    height: 75vh;
    width: 75%;
}

.contenedor-nosotros {
    color: #fff;
    padding: 2rem 1rem;
    z-index: 2;
}

.btn-class .btn-class-btn {
    background-color: #181818;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-primario-blanco);
    border: 1px solid var(--color-primario-blanco);
    padding: 5px 35px 5px 35px;
    font-weight: 600;
    font-size: 1.6rem;
}

.legado-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.legado-parrafo {
    line-height: 1.1;
    font-weight: 200;
    text-align: end;
    width: 84%;
    font-size: 2em;
}

.text-start {
    display: flex;
    text-align: left !important;
    flex-direction: column;
    align-items: end;
    font-size: 4rem;
    font-weight: 700;
    line-height: 0.8;
}

.legado-blanco {
    font-size: 4.5rem !important;
}

.legado-green {
    font-size: 5rem !important;
    margin-bottom: 30px;
}

.conten-from {
    width: 100%;
}

.contendor-frase {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-bar-container {
    width: 100% !important;
    margin-top: 0.50rem !important;
}

.gradient-bar-container .gradient-bar {
    width: 100% !important;
    height: 20px !important;
}


/* Botón de Envío */
.btn-send-message-nuevo {
    display: block;
    width: 70%;
    max-width: 800px;
    margin-top: 20px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    color: var(--color-primario-blanco);
    border: 2px solid var(--color-primario-blanco);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-send-message-nuevo:hover {
    box-shadow: 0 0 20px var(--color-secundario-verde-claro);
    background-color: var(--color-secundario-verde-claro);
    border-color: var(--color-secundario-verde-claro);
    color: #fff;
}

.gradient-bar {
    background: linear-gradient(to right, var(--color-secundario-verde-claro) 0%, #1a1a1a 90%, transparent 100%) !important;
}

.btn-class {
    margin-top: 40px;
}

.mobil-parrafo {
    display: none;
}

@media (max-width: 1024px) {
    .contenedor-texto {
        margin-top: 0px;
    }

    .legado-parrafo {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 4rem;

    }

    .btn-class .btn-class-btn {
        font-size: 2rem;
        display: block;
    }

    .img-lado {
        height: 70vh;
        width: 90%;
    }

    .contenedor-nosotros {
        padding: 1rem 0.5rem;
        text-align: center;
        align-items: center !important;
    }

    .content-proxi {
        display: none;
    }

    .legado-text {
        align-items: center;
        text-align: center !important;
    }

    .btn-send-message-nuevo {
        min-width: 400px;
        width: 100%;
        font-size: 1.3rem !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 1024px) {
    .btn-class {
        margin-top: 0px;
    }

    .img-lado-mobile {
        display: flex;
    }

    .mobil-parrafo {
        display: flex;
        flex-direction: column;
    }

    .pc-parrafo {
        display: none;
    }

    .img-lado-desktop {
        display: none !important;

    }

    .content-flecha-atras {
        justify-content: flex-start !important;
        position: absolute;
        top: 68px;
        padding-left: 20px;
    }

    .content-flecha-atras h3 {
        display: none;
    }

    .btn-clasificador {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btn-send-message-nuevo {
        font-size: 1.1rem !important;
        width: 80% !important;
        min-width: 250px;

    }

    .section-degradado {
        /* Fondo degradado de gris a negro de izquierda a derecha */
        background: linear-gradient(180deg, var(--color-secundario-verde-claro) 20%, #131313 100%);
        width: 100%;
        position: relative;

    }

    .legado-parrafo {
        font-size: 1.2rem;
        width: 90%;
        text-align: center;

    }

    .img-lado {
        max-width: 100%;
        margin-bottom: 1.5rem;
        height: 300px;
        width: 80%;
        margin-top: 10px;
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    body .text-start,
    .legado-blanco,
    .legado-green {
        text-align: center !important;
        align-items: center;
        font-size: 3rem !important;
    }

    .img-lado {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    .btn-class-btn {
        font-size: 1.5rem !important;
    }

    .contenedor-nosotros {
        padding: 1rem 0.5rem;
        text-align: center;
        align-items: center !important;
    }

    .content-imagenes {
        padding-top: 40px;
        margin-top: 10px;
    }
}
@media (max-width: 390px) {
     .btn-send-message-nuevo {
        min-width: 340px;

    }
}

@media (min-width: 1400px) {
    .header-text {
        width: 75%;
    }

    .btn-class .btn-class-btn {
        font-size: 2rem;
    }
}

 