@import url(./variables.css
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background: var(--color-primario-negro);
    color: var(--color-primario-blanco);
}

/* Navbar base (usando Bootstrap para responsividad) */
.navbar {
    /*background: var(--color-primario-negro) !important;*/
    background-color: transparente;
      /*border-bottom: 2px solid var(--color-primario-gris-oscuro);*/
    min-height: 72px;
}

.nav-container {
    max-width: 1200px;
}

.brand {
    position: relative;
    left: 6rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    user-select: none;
}

.brand .logo-box {
    width: 44px;
    height: 44px;
    border: 2px solid var(--color-primario-blanco);
}

.nav-item{
    padding: 7px;
    border-right: 2.5px solid var(--color-secundario-verde-claro) ;
}


.nav-links .nav-link {
    position: relative;
    text-decoration: none;
    color: var(--color-primario-blanco);
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 10px 14px;
    transition: color 0.2s ease;
}

/* Barra verde junto a cada ítem */
.nav-links .nav-link::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 18px;
    background: var(--green);
    opacity: 0.9;
}

.nav-links .nav-link:last-child::after {
    display: none;
}

.nav-links .nav-link:hover {
    color: var(--color-secundario-verde-claro);
}

.dropdown-menu.show{
    border-radius: 0px !important;
    background-color: var(--color-primario-negro) !important;
    border: 2px solid var(--color-primario-gris-oscuro);
    
}

.dropdown-menu > li > a {
    color: var(--color-primario-blanco) !important;
    position: relative;
    text-decoration: none;
    color: var(--color-primario-blanco);
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 10px 14px;

}
.dropdown-menu > li > a:hover {
    color: var(--color-secundario-verde-claro) !important;
    background: transparent !important;

}

.nav-links .nav-link::after {
    height: 0;
    position: relative;
    right: 0;
}





/* Ajustes para móvil */
@media (max-width: 991.98px) {
    .nav-links { gap: 0; }
    .nav-links .nav-link { padding:0px 0; }
    .nav-links .nav-link::after { display: none; }
    .brand {left: 0rem;}
}