@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

.mision-img-frase2 {
    display: none;
}

.mision-imagen-section {
    background-color: #131313;
    background-image: url('../img/background_quote.webp');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 90vh;
    /* Ajusta según tu diseño */
    border-radius: 18px;
    width: 100%;
    /* Para que la columna tenga altura en móviles */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centrado vertical y horizontal del texto */
.contenido-mision-text2 {
    position: absolute;
    min-height: 320px;
    /* Igual que la imagen para alinear */
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mision-img {
    filter: drop-shadow(0 8px 32px #0008);
}

.mision-img-text {
    width: 383.5px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
}

.mision-img-frase {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 0;
    font-weight: 200;
}

.content-imagen-laptop svg {
    height: 10rem;
}

.testimonio-img-bg {
    margin-right: 12rem;
    min-width: 420px;
    min-height: 225px;
}

.title-vision {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.mision-text-vision {
    width: 46.43rem;
    font-size: 1.6em;
    color: #fff;
    font-weight: 200;
    line-height: 1;
    text-align: center;

}

.content_vision {
    margin-bottom: 80px;
}

.img-content {
    margin-right: 5rem;
}



@media (max-width: 390.98px) {
    .content-imagen-laptop svg {
        height: 85px;
    }


}

@media (max-width: 490.98px) {
    .mision-text-vision {
        width: 80%;
        font-size: 1.1rem;
    }

    .mision-img-frase,
    .mision-img-text {
        font-size: 1.1rem;
    }

    .mision-img-frase1 {
        width: 100%;
    }

    .mision-imagen-section {
        height: 100vh;
    }

    .content_vision {
        margin-bottom: 70px;
    }

    .content-imagen-laptop svg {
        height: 120px !important;
    }



}

@media (max-width: 767.98px) {
    .mision-text-vision {
        font-weight: 100;
        font-size: 1.3rem;
    }

    .mision-img-frase,
    .mision-img-text {
        padding-top: 1.5rem;
        font-size: 1.6rem;
        font-weight: 100;
    }

    .content-imagen-laptop {
        flex-direction: column;
    }

    .img-content {
        margin-right: 0rem;

    }

    .mision-text-vision {
        width: 100%;
    }

    .testimonio-img-bg {
        margin-right: 0rem;
        min-width: 0px;
        min-height: 0px;
        background-size: contain;
    }

    .title-vision {
        margin-bottom: 2rem;
    }

}

@media (max-width: 990.98px) {
    .mision-imagen-section {
        background-position: bottom;
    }
    .content-imagen-laptop svg {
        height: 130px;
    }

    .mision-img-frase,
    .mision-img-text {
        font-size: 1.7rem;
        justify-content: center;
        flex-direction: column;
    }

    .mision-img-text {
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
    }

    .mision-img {
        max-width: 160px;
    }
}

@media (max-width: 390px) {
    .mision-text-vision {
        font-size: 0.9rem;
    }

    .mision-img-frase,
    .mision-img-text {
        font-size: 1.3rem;

    }

    .mision-imagen-section {
        height: 90vh; 
    }

}

/* Responsive: en pantallas grandes, que no sobresalga tanto */
@media (min-width: 1400px) {


    .title-vision {
        font-size: 4rem;
    }

}

@media (max-width: 1200px) {
    .content-imagen-laptop svg {
        height: 180px;
    }

    .mision-img-text {
        margin-top: 15px;
        text-align: center;
    }

}

@media (min-width: 1600px) {
    .title-vision {
        font-size: 5rem !important;
    }

    .mision-text-vision {
        font-size: 1.6rem !important;
        width: 50.43rem !important;
    }

    .contenedor-nosotros {
        left: 85px !important;
    }

    .mision-img-frase {
        font-size: 2rem !important;
    }

    .mision-img-text {
        display: flex;
        width: 543.5px !important;
        justify-content: center;
        align-items: center;
    }

    .content-imagen-laptop svg {
        height: 12rem !important;
    }

    .content_vision {
        margin-bottom: 11rem !important;
    }
}