@import url(./variables.css
);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
.cuadrado-nosotros {
    width: 50px !important;
    height: 50px;
    background: var(--color-secundario-verde-claro);
    position: relative;
    top: 3rem;
    left: -1rem;
    display: none;
}

.comillas{
    font-family: sans-serif; /* Use the same font or a different one */
}
/* Si JavaScript detectó la clase 'os-android' en el body */
.comillas.os-android {
    font-family: Roboto, "Noto Sans", sans-serif;
}

/* Si JavaScript detectó la clase 'os-windows' en el body */
.comillas.os-windows  {
    font-family: "Segoe UI", sans-serif;
}

.comillas.os-ios {
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-img {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    opacity: 0.7;
    /* compensar navbar fija */
    background-image: url('../img/Recurso8.webp') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: auto;

    display: block !important;
    object-fit: contain;
    object-position: center;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden !important;
}

.content-datos {
    position: absolute;
    z-index: 1;
}

#nosotros {
    flex-direction: column;
}

.contenedor-nosotros {
    position: relative;
}

/* Sección legado */
.legado-section {
    /* background: #18191a; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legado-logo {
    max-width: 400px;
    width: 100%;
    filter: drop-shadow(0 8px 32px #0008);
}

.legado-title {
    justify-content: end !important;
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    line-height: 0.4;
    font-weight: 600;
    text-align: center;
}

.legado-green {
    color: var(--color-secundario-verde-claro);
    font-size: 4rem;
    font-weight: 600;
    display: inline-block;
    line-height: 1.1;
}

.legado-parrafo {
    /* text-align: justify;
    text-align-last: left; */
    /* Para la última línea alineada a la izquierda */
    font-size: 1.2rem;
    color: #f2f2f2;
    line-height: 1.1;
    max-width: 480px;
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.01em;
    word-break: break-word;
    font-weight: 200;
}

.legado-parrafo-tercero {
    font-weight: 600;
    text-align: right;
    font-size: 1rem;
}

.legado-text {
    max-width: 600px;
    width: 40%;
}

/* testimonio */
.testimonio-section {
    background: #232323;
    height: 60vh;
    display: flex;
    align-items: center;
    background-image: url('../svg/degradado_testimonio.svg');
    background-size: cover;
    /* que cubra toda el área */
    /* background-position: center top;   ajustar el corte del gradiente */
    background-repeat: no-repeat;
    overflow: hidden;

}

.testimonio-img-bg {
    /* compensar navbar fija */
    background-image: url('../img/hands.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 420px;
        min-height: 225px;
        margin-right: 12rem;
}


.testimonio-img {
    border-radius: 12px;
    max-height: 110px;
    object-fit: cover;
}

.testimonio-text {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 200;
}

.testimonio-frase {
    font-size: 2rem;
    line-height: 1;
}


 /* .testimonio-frase::before {
    content: "\201C";

   
    font-family: 'Poppins', sans-serif;
    font-weight: 200; 
    font-size: 1.1em; 
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;

}  */


.testimonio-green {
    color: #7ec11f;
    font-weight: 400 !important;
}

.grupose {
    font-weight: 600 !important;
}

.testimonio-autor {
    font-size: 1.1rem;
    color: #fff;
    margin-top: 1rem;
}



@media (max-width: 1024px) {
    .contenido-testimonio {
        align-items: center;
    }

    .content-img {
        background-position: -210px !important;
    }

    body main .testimonio-autor {
        margin-top: 0;
        font-size: 2rem;
    }

    .testimonio-text {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-testimonio {
        flex-direction: column-reverse !important;
    }

    .testimonio-img-bg {
        width: 80%;
        height: 14rem;
        background-size: contain;
        min-width: 40px;

    }

     .testimonio-img-bg {
        margin-right: 0rem;
        
    } 

    
    .testimonio-section {
        height: auto;
        padding-bottom: 0rem !important;
    }

    .conten-imgen-testimonio {
        margin-bottom: 0rem !important;
    }
}

@media (max-width: 991.98px) {
    
    body main .testimonio-frase {
        margin-bottom: 1rem !important;
        text-align: center
    }

    .legado-parrafo-tercero {
        display: none;
    }

    .content-img {
        height: 100%;
        opacity: 0.2;
    }

    .cuadrado-nosotros {
        display: block;

    }

    .legado-section {
        height: 40rem;

    }

    .legado-title,
    .legado-green {
        font-size: 3rem;
    }

    .legado-parrafo {
        margin: 0px !important;
        font-size: 1.3rem;
        max-width: 70%;
    }

    .legado-logo {
        max-width: 250px;
    }

    .legado-text {
        padding-left: 70px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: self-start;
        max-width: 100%;
    }

    .legado-parrafo {
        text-align: left;
        text-align-last: auto;

    }

}

@media (max-width: 490.98px) {

    .legado-section {
        min-height: 100vh;

    }

    body main .testimonio-frase {
        font-size: 1.4rem;
    }

    body main .testimonio-autor {
        font-size: 1.5rem;
    }

    .content-testimonio {
        flex-direction: column-reverse !important;
    }

    .legado-parrafo {
        max-width: 85%;
        font-size: 1.1rem;
    }

    .cuadrado-nosotros {
        width: 40px !important;
        height: 40px;

    }

    .legado-text {
        padding-left: 30px;
    }


}

@media (max-width: 390.98px) {
    body main .testimonio-frase {
        font-size: 1.3rem;
    }

    .contenido-testimonio {
        align-items: center;
        margin-top: 0px;
    }

}

/* Responsive: en pantallas grandes, que no sobresalga tanto */
@media (min-width: 1400px) {
    #nosotros {
        padding-top: 4rem;
    }
    .testimonio-frase {
        padding-right: 90px;
        padding-left: 90px;
        font-size: 2.5rem;
        line-height: 1;
    }


    .testimonio-img-bg {
        margin-right: 12rem;
        min-width: 420px;
        min-height: 225px;
    }

    .testimonio-autor {
        margin-top: 50px;
        font-size: 2.1rem;
        padding-left: 90px;
    }

    .g-5,
    .gx-5 {
        --bs-gutter-x: 10rem !important;
    }

    .legado-text {

        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .legado-parrafo {
        font-size: 1.5rem;
        max-width: 557px;

    }

    .legado-title,
    .legado-green {

        font-size: 6rem;
    }

}

@media (min-width: 1800px) {
    .legado-parrafo {
        font-size: 1.6rem;
    }

    .legado-parrafo {
        max-width: 650px;
    }


    .legado-title,
    .legado-green {

        font-size: 8rem;
    }

}