/* parte 2 de nosotros  */
/* Sección Misión y Filosofía */
main {
    padding-top: 60px;
}

.mision-filosofia-section {
    background: #2a2a2a;
    height: 70vh;
    display: flex;
    align-items: center;
}

.mision-img-frase2 {
    display: none;
}

.mision-title {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 1px;
}

.mision-text {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    font-weight: 200;
    line-height: 1;
}

.text-green {
    color: #7ec11f;
    font-weight: 600;
}
.section_vista1 {
    width: 100%;
}
/* Sección Misión con imagen */
/* .mision-imagen-section {
    background: #181818;
    
    display: flex;
    align-items: center;
} */

.mision-imagen-section {
      background-color: #131313;
    background-image: url('../img/background_quote.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 50vh;
    /* Ajusta según tu diseño */
    border-radius: 18px;
    width: 100%;
    /* Para que la columna tenga altura en móviles */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centrado vertical y horizontal del texto */
.contenido-mision-text2 {
    position: absolute;
    min-height: 320px;
    /* Igual que la imagen para alinear */
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mision-img {
    filter: drop-shadow(0 8px 32px #0008);
}

.mision-img-text {
    color: #fff;
    line-height: 1.2;
    text-align: left;
}

.mision-img-frase {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
    font-weight: 200;
}

    .content-imagen-laptop svg{
        height: 10rem;
    }

   .testimonio-img-bg {
        margin-right: 12rem;
        min-width: 420px;
        min-height: 225px;
    } 
@media (max-width: 1200px) {
   .content-imagen-laptop svg{
        height: 180px;
    }

    .mision-img-text{
        margin-top: 15px;
        text-align: center;
    }

}
@media (max-width: 990.98px) {
    .content-imagen-laptop svg {
        height: 130px;
    }

    .mision-img-frase2 {
        display: block !important;
    }
 
    .mision-img-frase1 {
        display: none !important;
    }

    .mision-title {
        font-size: 2rem;
    }

    .contenido-mision-text2 {
        align-items: center;
    }

    .mision-img-frase,
    .mision-img-text {
        font-size: 1.7rem;
        justify-content: center;
        flex-direction: column;
    }

    .mision-img-text {
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
    }

    .mision-img-frase2{
        width: 75%;
    }

    .mision-img {
        max-width: 160px;
    }


    .mision-title {
        font-size: 3rem !important;
    }

    .mision-text {
        font-size: 1.6rem !important;
    }

    /* .content-imagen-laptop {
        background-image: url('../img/background_quote.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 320px;
        border-radius: 18px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    } */






}

@media (max-width: 767.98px) {
    .testimonio-img-bg{
        margin-right: 0rem;
        min-width: 0px; 
        min-height: 0px;
        background-size: contain;
    }

}


@media (max-width: 390.98px) {
    .content-imagen-laptop svg {
        height: 85px;
    }

}

/* Responsive: en pantallas grandes, que no sobresalga tanto */
@media (min-width: 1400px) {
    .testimonio-frase {
        padding-left: 90px;
        font-size: 3.5rem;
        line-height: 1;
    }

    .testimonio-img-bg {
        margin-right: 12rem;
        min-width: 420px;
        min-height: 225px;
    }

    .testimonio-autor {
        font-size: 2.1rem;
        padding-left: 90px;
    }

    .mision-title {
        font-size: 4rem;
    }

    .mision-text {
        color: #fff;
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    .text-green {
        color: #7ec11f;
        font-weight: 600;
    }


}