@import url(./variables.css
);

.green-text:nth-child(1) {
    color: var(--color-primario-blanco) !important;
}

.contenedor-texto {
    margin-top: 90px;
}

.section-degradado {
    /* Fondo degradado de gris a negro de izquierda a derecha */
    background: linear-gradient(90deg, #BBBB00 30%, #181818 100%);
    min-height: 480px;
    width: 100%;
    position: relative;

}

.img-lado {
    height: 70vh;
    width: 60%;
}

.contenedor-nosotros {
    color: #fff;
    padding: 2rem 1rem;
    z-index: 2;
}

.btn-class .btn-class-btn {
    background-color: #181818;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-primario-blanco);
    border: 1px solid var(--color-primario-blanco);
    padding: 3px 10px 3px 10px;
    font-weight: 600;
    font-size: 1.6rem;
}

.legado-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.legado-parrafo {
    font-weight: 200;
    text-align: end;
    width: 80%;
    font-size: 1.5em;
}

.text-start {
    display: flex;
    text-align: left !important;
    flex-direction: column;
    align-items: end;
    font-size: 4rem;
    font-weight: 700;
    line-height: 0.8;
}

.legado-green {
    font-size: 3.5rem !important;
}

.conten-from {
    width: 100%;
}

.contendor-frase {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-bar-container {
    width: 100% !important;
    height: 90px;
    margin-top: 0rem !important;
}

.gradient-bar-container .gradient-bar {
    width: 100% !important;
}


/* Botón de Envío */
.btn-send-message-nuevo {
    display: block;
    width: 55%;
    /* Ajuste a la imagen */
    max-width: 300px;
    /* Limitar el ancho como en la imagen */
    margin-top: 20px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    color: var(--color-primario-blanco);
    border: 2px solid var(--color-primario-blanco);
    border-radius: 10px;
    /* Bordes redondeados */
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-send-message-nuevo:hover {
    box-shadow: 0 0 20px var(--color-complemento-amarillo-mostaza);
    background-color: var(--color-complemento-amarillo-mostaza);
    border: none ;
    color: #fff;
}
.green-text {
    color: var(--color-complemento-amarillo-mostaza) !important;
}
.gradient-bar{   
    background: linear-gradient(to right, var(--color-complemento-amarillo-mostaza) 0%, #1a1a1a 90%, transparent 100%) !important;
}

@media (max-width: 991.98px) {
    .contenedor-texto {
        margin-top: 0px;
    }

    .legado-parrafo {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 4rem;

    }

    .btn-class .btn-class-btn {
        font-size: 2rem;
        display: block;
    }

    .img-lado {
        height: 70vh;
        width: 90%;
    }

    .contenedor-nosotros {
        padding: 1rem 0.5rem;
        text-align: center;
        align-items: center !important;
    }

    .content-proxi {
        display: none;
    }

    .legado-text {
        align-items: center;
        text-align: center !important;
    }

    .btn-send-message-nuevo {
        min-width: 400px;
        width: 100%;
        font-size: 1.5rem !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 760.98px) {

    .btn-send-message-nuevo {
        min-width: 250px;
    }

    .section-degradado {
        /* Fondo degradado de gris a negro de izquierda a derecha */
        background: linear-gradient(180deg, #BBBB00 40%, #131313 100%);
        width: 100%;
        position: relative;

    }

    .legado-parrafo {
        font-size: 0.9rem;
        width: 80%;
        text-align: center;

    }

    .img-lado {
        height: 40vh;
        width: 80%;
    }

    body .text-start,
    .legado-green {
        text-align: center !important;
        align-items: center;
        font-size: 3rem !important;
    }

    .img-lado {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    .btn-class-btn {
        font-size: 1.5rem !important;
    }

    .contenedor-nosotros {
        padding: 1rem 0.5rem;
        text-align: center;
        align-items: center !important;
    }
}

@media (min-width: 1400px) {
    .header-text {
        width: 75%;
    }
}